<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Membership Database</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email address</th>
                <th scope="col">Cellphone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                Thomas
                </td>
                <td>
                  Mambande
                </td>
                <td>
                  tom.mambande@gmail.com
                </td>
                <td>
                   0652540760
                </td>
              </tr>
              <tr>
                <td>
                  Takunda
                </td>
                <td>
                  Chuma
                </td>
                <td>
                  taku.chuma@gmail.com
                </td>
                <td>
                0686300305
                </td>
              </tr>
              <tr>
               <td>
                 Sikululekile
               </td>
                <td>
                  Moyana
                </td>
                <td>
                  siku.moyana@gmail.com
                </td>
                <td>
                 0779364158
                </td>
              </tr>
              <tr>
              <td>
                Phineas
              </td>
                <td>
                 Mlambo
                </td>
                <td>
                  phin@gmail.com
                </td>
                <td>
                 0672540760
                </td>
              </tr>
              <tr>
               <td>
                 Johnson
               </td>
                <td>
                  Mlevhu
                </td>
                <td>
                  jonh@gmail.com
                </td>
                <td>
                 0777710200
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Upcoming Birthdays</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Day</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Thomas Mambande
                </th>
                <td>
                  Tuesday, 13 July
                </td>
                
              </tr>
              <tr>
                <th scope="row">
                  Johnson Mlevhu
                </th>
                <td>
                  Wednesday, 14 July
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
